<div class="post">
  <% @post.each do |post| %>

    <div class="one_post">
      <div class="post_header">
        <div class="post_header_left">
          <div class="post_name">
            <%= link_to post.user.nickname, "/users/#{post.user.id}" %>
          </div>
        </div>
        <div class="post_header_right">
        
              <button class="accordion__title js-accordion-title">Menu</button>
              <div class="accordion__content">
                <%= link_to '詳細', post_path(post.id), method: :get %>
                <% if user_signed_in? && current_user.id == post.user_id %>
                  <%= link_to '削除', post_path(post.id), method: :delete %>
                <% end %>
          </div>
        </div>




      </div>
    
      <div class="post_text">
        <p><%= post.text %></p>
      </div>
      <%= image_tag post.image.variant(resize:'500x500') if post.image.attached? %>

    </div>
  <% end %>
</div>