<div class="show">

  <div class="show_left">
    <%= image_tag @post.image.variant(resize:'550x550') if @post.image.attached?  %>
  </div>

  <div class="show_right">
    <div class="poster">
      <%= @post.user.nickname %>
    </div>

    <div class="comments">
    </div>

    <div class="comment">
    <% if current_user %>
      <%= form_with(model: [@post, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    </div>
  </div>

</div>